.speech{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size:15px;
    color:#000000;
}

.direction{
   font-family:Arial, Helvetica, sans-serif ;
   font-size:13px;
   color:black;
   background-color:lightgrey;
}

.direction:hover{
   background-color:lightblue;
   color:white;
}

.DrStockmann{
    color:black;
}

.Billing{
 color:blueviolet;

}

.Aslaksen{
 color:green;
}

.Hovstad{
    color: red;
}

.DrStockmann:hover{
    box-shadow: 2px 2px 10px black;
    border:2px solid red;
}
.Billing:hover{
    box-shadow: 2px 2px 10px black;
    border:2px solid blue;
}
.Aslaksen.hover{
    box-shadow: 2px 2px 10px black;
    border:2px solid rgb(38, 0, 255);
}

.Hovstad.hover{
    box-shadow: 2px 2px 10px black;
    border:2px solid rgb(255, 0, 119);
}

.table {
    border-collapse: separate;
    width: 80%; 
    margin: 20px auto;
}


th {
    background-color:grey;
    border: 1px solid black; 
    text-align: center;
    padding: 10px;
    color:white;
    
}


td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color:beige; 
}

tr:nth-child(odd) {
    background-color:antiquewhite;
}

ul.navbar{

width:100 px;
background-color:beige;
}

ul.navbar li {
    display: inline;
    margin-right: 30px;
}

ul.navbar a {
    display: inline;
    text-decoration: none; 
    color:black;
    font-weight: bold;
}


ul.navbar a:hover {
    color: #FF5733;
    box-shadow: 5px 10px #888888;
    filter: blur(0.5px)
}

.container {
    text-align: center; /* Center the image horizontally */
    margin: 20px; /* Add spacing around the image container */
}

img{
    max-width: 100%; 
    height: auto;
    border: 2px solid grey;
    box-shadow: 0 0 10px black;
}
table{

 

    width: 100%;

 

    border:3px solid;

 

    /*border-style: dashed;*/

 

}

 

 

 

th{

 

   /* border-style: dotted;*/

 

   border:3px solid;

 

    color:crimson;

 

    text-align: center;    

 

    margin:auto;

 

}

 

table, th{

 

    border:1px solid;

 

    border-collapse: collapse;

 

}

 

th{

 

    color:brown;

 

   

 

}

 

td{

 

     border:1px solid;

 

    /* color: crimson; */

 

    border-top:1px solid;

 

    border-bottom:1px solid;

 

}

 

tr{

 

    border:3px solid ;

 

    border-style: double;

 

    text-align: center;

 

    margin: auto;

 

    padding: 1%;

 

    color:darkmagenta;

 

    /* border-top:1px solid black;

 

    border-bottom:5px solid brown; */

 

}

 

tr:nth-child(odd){

 

    border-radius: 1%;

 

}

.navbar-horizontal{

 

    list-style-type: none;

 

    margin: 0;

 

    padding: 0;

 

    overflow:hidden;

 

    background-color:seagreen;

 

}

 

li{

 

    float: left;

 

}

 

li a{

 

    display: block;

 

    color: black;

 

    text-align: center;

 

    padding: 14px 16px;

 

    text-decoration:dotted;

    background-color: aquamarine;

 

}

 

li a:hover:not(.active) {

 

    background-color:purple;

    box-shadow: 5px 10px #888888;

    filter: blur(0.5px)

 

}

 

.active {

 

    background-color:goldenrod;

 

}

 

.material-icons{

 

color:red;

 

}